<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |f| %>
  <p>
    <%= f.label :content,"ぽすと" %>
    <%= f.text_field :content %>
  </p>
  <%= f.submit %>
<% end %>